*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Roboto';
	background: red;
	font-size: 16px;
}

header
{
	position: relative;
	width: 100%;
	height: auto;
	background: rgb(48,51,46);
}

#error
{
	height: 100vh;
	background-image: url(../IMAGE/error404.jpg);
	background-position: top center;
	background-size: cover;
}

#error p
{
	font-size: 2.5em;
	color: rgba(255,255,255,1);
	position: absolute;
	left: 15%;
	font-weight: bolder;
}

#error p:first-child
{
	bottom: 20%;
}

#error p:last-child
{
	bottom: 10%;
}

#menu
{
	width: 90%;
	max-width: 1700px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

#menu #logo figure
{
	height: 50px;
	width: 100px;
	margin: 1em auto;
}

#menu #logo figure img
{
	height: 100%;
	width: 100%;
}

#menu #logo a:nth-of-type(2),
#menu #logo a:nth-of-type(3)
{
	position: absolute;
	top: 0;
	left: 85%;
	text-decoration: none;
	margin-top: 1em;
}

#menu #logo a:nth-of-type(3)
{
	display: none;
}

#menu #logo a:nth-of-type(2)::before
{
	font-family: 'icomoon';
	content: "\e906";
	font-size: 2.7em;
	color: white;
}

#menu #logo a:nth-of-type(3)::before
{
	font-family: 'icomoon';
	content: "\e904";
	font-size: 2.7em;
	color: white;
}

#menu #card_menu
{
	display: none;
	position: absolute;
	top: 82px;
	width: 90%;
	height: auto;
	background: rgba(48,51,46,.7);
}

#menu #card_menu #enlaces
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	height: 250px;
}

header #menu nav#enlaces a
{
	font-family: 'Lato';
	text-decoration: none;
	color: white;
}

main
{
	width: 100%;
	height: auto;
}

main #principalArticle
{
	padding-top: 25px;
	padding-bottom: 25px;
}

main #principalArticle a
{
	text-decoration: none;
	color: black;
}

main #principalArticle figure
{
	width: 100%;
	height: 250px;
}

main #principalArticle img
{
	width: 100%;
	height: 100%;
}

main #principalArticle .titulos
{
	height: auto;
	text-align: justify;
	text-decoration: none;
	background: rgba(255,255,255,.9);
}

main #allArticles
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main #allArticles .articles
{
	padding-top: 5px;
	padding-bottom: 5px;
}

main #allArticles .articles a
{
	text-decoration: none;
	color: black;
}

main #allArticles .articles:nth-of-type(1)
{
	padding-top: 0;
}

main #allArticles .articles figure
{
	width: 100%;
	height: 150px;
}

main #allArticles .articles figure img
{
	width: 100%;
	height: 100%;
}

main #allArticles .titulos
{
	height: auto;
	text-align: justify;
	text-decoration: none;
	background: rgba(255,255,255,.9);
}

main #allArticles .articles:nth-of-type(7)
{
	padding-bottom: 50px;
}

main#category
{
	background: cyan;
	margin-top: 55px;
	margin-bottom: 55px;
	width: 100%;
	height: auto;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main#category p
{
	font-family: 'Lato';
	font-size: 1.5em;
	margin: 0 auto;
	margin-bottom:55px;
	padding: 15px 25px;
	background: rgba(0,0,0,.7);
	color: white;
}

main#category .itemsCategory
{
	background: lime;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 15px;
	padding: 25px;
	width: 100%;
	height: 200px;
}

main#category .itemsCategory a:first-child
{
	width: 40%;
	height: 100%;
	text-decoration: none;
	background: blue;
}

main#category .itemsCategory a:last-child
{
	width: 60%;
	height: 100%;
	text-decoration: none;
	margin-left: 25px;
	background: tomato;
}

main#category .itemsCategory a figure
{
	height: 100%;
	width: 100%;
	background: red;
}

main#category .itemsCategory a figure img
{
	width: 100%;
	height: 100%;
}

main#category .itemsCategory a h3
{
	color: black;
	font-family: 'Lato';
	font-size: 1.2em;
}

main#category .itemsCategory a h3:hover:last-child
{
	color: #1da1f2;
	transition-duration: .6s;
}

main#articulos
{
	background: cyan;
	width: 100%;
	max-width: 750px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main#articulos figure
{
	width: 100%;
	height: 250px;
}

main#articulos figure img
{
	width: 100%;
	height: 100%;
}

main#articulos>p
{
	font-family: 'Lato';
	font-size: 1.5em;
	margin: 35px 0;
	padding: 0 25px;
}

main#articulos #containerTitulo
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 25px;
	margin-bottom: 35px;
}


main#articulos #containerTitulo #redes
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

main#articulos #containerTitulo #redes a
{
	font-size: 2.5em;
	border-radius: 5px;
	margin-right: 15px;
	text-decoration: none;
}

main#articulos #containerTitulo #redes a:nth-of-type(1) i
{
	color: #3b5998;
}

main#articulos #containerTitulo #redes a:nth-of-type(2) i
{
	color: #1da1f2;
}

main#articulos #containerTitulo #redes a:nth-of-type(3) i
{
	color: #25d366;
}

main#articulos #containerTitulo #autorFecha p:first-child
{
	color: #0088cc;
	margin-bottom: 5px;
}

main#articulos #containerTitulo #autorFecha p:last-child
{
	font-size: .7em;
}

main#articulos #contenido
{
	padding: 0 25px;
}

main#articulos #contenido p
{
	padding-bottom: 15px;
}

#buttons
{
	height: auto;
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
}

#buttons a
{
	color: white;
	text-decoration: none;
	padding: 15px 1px;
	border-radius: 5px;
	text-align: center;
	background: rgba(48,51,46,.8);
}

/*#buttons a:nth-of-type(1),
#buttons a:nth-of-type(2)
{
	display: none;
}

#buttons a:nth-of-type(3)
{
	margin: auto;
	padding: 15px 25px;
}*/

footer
{
	width: 100%;
	height: auto;
	background: rgb(48,51,46);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer #panels
{
	width: 90%;
	height: auto;
	margin-left: 5%;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: violet;
}

footer #panels #aboutMe
{
	padding-top: 25px;
	padding-bottom: 25px;
}

footer #panels #aboutMe h3
{
	color: white;
	font-size: 1.3em;
	font-family: 'Lato';
	padding-bottom: 15px;
}

footer #panels #aboutMe p
{
	color: white;
	font-size: .9em;
	text-align: justify;
}

footer #socialMedia
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	background: cyan;
}

footer #socialMedia h3
{
	color: orange;
	font-size: 1.3em;
	font-family: 'Lato';
	padding-bottom: 15px;
}

footer #socialMedia a
{
	font-size: 2em;
	margin-left: 10px;
	text-decoration: none;
}

footer #socialMedia a:nth-of-type(1)
{
	color: #3b5998;
}

footer #socialMedia a:nth-of-type(2)
{
	color: #1da1f2;
}

footer #socialMedia a:nth-of-type(3)
{
	color: #0077b5;
}

footer #socialMedia a:nth-of-type(4)
{
	color: #f8931f;
}

footer #suscription
{
	height: auto;
	padding-top: 15px;
	background: red;
}

footer #suscription h3
{
	text-align: justify;
	color: white;
	font-size: 1.1em;
	padding-bottom: 10px;
	text-align: center;
	background: yellow;
}

footer #suscription #input #formulario
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer #suscription #input input
{
	height: 30px;
	width: 50%;
	border: none;
	border-bottom: 1px solid white;
}

footer #suscription #input button
{
	width: 30px;
	height: 30px;
	background: orange;
	color: white;
}

footer #copy p
{
	text-align: center;
	color: white;
}

@media screen and (min-width: 600px)
{
	body
	{
		background: orange;
	}

		main #allArticles .articles
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	main #allArticles .articles figure
	{
		height: 250px;
	}

	#buttons a
	{
		padding: 25px 25px;
	}

/*	#buttons a:nth-of-type(1),
	#buttons a:nth-of-type(2)
	{
		display: none;
	}

	#buttons a:nth-of-type(3)
	{
		margin: auto;
		padding: 35px 95px;
	}*/

	footer #socialMedia a
	{
		font-size: 2.5em;
		margin-left: 10px;
		text-decoration: none;
	}
}

@media screen and (min-width: 767px)
{
	body
	{
		background: yellow;
	}

	#menu #logo figure
	{
		height: 100px;
		width: 150px;
	}

	#menu
	{
		width: 90%;
		max-width: 1700px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

	#menu #card_menu
	{
		display: flex;
		position: absolute;
		top: 0;
		height: 132px;
		flex-direction: row;
		justify-content: flex-end;
		background: none;
	}

	#menu #card_menu #enlaces
	{
		display: flex;
		height: 132px;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#menu #card_menu #enlaces a
	{
		margin-left: .5em;
	}

	#menu #card_menu #enlaces a:hover
	{
		border-bottom: 1px solid white;
	}

	#menu #logo a:nth-of-type(2),
	#menu #logo a:nth-of-type(3)
	{
		display: none;
	}

	main
	{
		width: 60%;
		max-width: 750px;
		margin:0 auto;
	}

	main #principalArticle
	{
		padding-top: 0;
		padding-bottom: 35px;
	}

	main #principalArticle figure
	{
		height: 400px;
	}

	main #principalArticle .titulos
	{
		font-size: 1.3em;
		text-align: left;
	}

	main #allArticles .articles
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	main #allArticles .articles figure
	{
		height: 250px;
	}

	main #allArticles .titulos
	{
		font-size: 1.3em;
		text-align: left;
	}

	main#category
	{
		margin: 0 auto;
		margin-top: 55px;
		width: 70%;
		margin-bottom: 55px;
	}

	main#articulos figure
	{
		height: 450px;
	}

	main#articulos>p
	{
		font-size: 1.7em;
	}

	main#articulos #containerTitulo
	{
		margin-bottom: 55px;
	}

	main#articulos #containerTitulo #redes a
	{
		font-size: 2.7em;
	}

	main#articulos #containerTitulo #autorFecha p:first-child
	{
		font-size: 1.3em;
	}

	main#articulos #containerTitulo #autorFecha p:last-child
	{
		font-size: .9em;
	}

	main#articulos #contenido p
	{
		padding-bottom: 25px;
	}

	#buttons
	{
		height: auto;
		width: 60%;
		max-width: 750px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	#buttons a
	{
		padding: 25px 20px;
	}

	#buttons a:hover
	{
		background: rgba(48,51,46,1);
		transition-duration: 1s;
	}

	/*#buttons a:nth-of-type(1),
	#buttons a:nth-of-type(2)
	{
		display: none;
	}

	#buttons a:nth-of-type(3)
	{
		margin: auto;
		padding: 15px 25px;
	}*/

	footer #panels
	{
		flex-direction: row;
		padding-bottom: 0;
	}

	footer #panels #aboutMe
	{
		padding-top: 45px;
		width: 47%;
	}

	footer #panels #rrssSuscription
	{
		padding-top: 45px;
		width: 47%;
	}

	footer #socialMedia
	{
		padding-top: 0;
		padding-bottom: 0;
		margin: auto;
	}

	footer #socialMedia a
	{
		font-size: 2em;
	}

	footer #suscription
	{
		padding-top: 25px;
	}

	footer #suscription h3
	{
		text-align: center;
		margin: auto;
	}

	footer #suscription #input
	{
		justify-content: center;
	}

	footer #suscription #input button
	{
		cursor: pointer;
	}
}

@media screen and (min-width: 950px)
{
	body
	{
		background: green;
	}

	#buttons a
	{
		padding: 25px 30px;
	}

	footer #socialMedia
	{
		justify-content: center;
	}

	footer #socialMedia a
	{
		font-size: 3em;
		margin-left: 15px;
		text-decoration: none;
	}

	footer #suscription #input input
	{
		width: 50%;
	}
}