*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Roboto';
	background: red;
	font-size: 16px;
}

header
{
	position: relative;
	width: 100%;
	height: auto;
	background: rgb(48,51,46);
}

#menu
{
	width: 90%;
	max-width: 1700px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

#menu #logo figure
{
	height: 50px;
	width: 100px;
	margin: 1em auto;
}

#menu #logo figure img
{
	height: 100%;
	width: 100%;
}

#menu #logo a:nth-of-type(2),
#menu #logo a:nth-of-type(3)
{
	position: absolute;
	top: 0;
	left: 85%;
	text-decoration: none;
	margin-top: 1em;
}

#menu #logo a:nth-of-type(3)
{
	display: none;
}

#menu #logo a:nth-of-type(2)::before
{
	font-family: 'icomoon';
	content: "\e906";
	font-size: 2.7em;
	color: white;
}

#menu #logo a:nth-of-type(3)::before
{
	font-family: 'icomoon';
	content: "\e904";
	font-size: 2.7em;
	color: white;
}

#menu #card_menu
{
	display: none;
	position: absolute;
	top: 82px;
	width: 90%;
	height: auto;
	background: rgba(48,51,46,.7);
}

#menu #card_menu #enlaces
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	height: 250px;
}

header #menu nav#enlaces a
{
	font-family: 'Lato';
	text-decoration: none;
	color: white;
}

main
{
	width: 100%;
	height: auto;
}

main #principalArticle
{
	padding-top: 25px;
	padding-bottom: 25px;
}

main #principalArticle a
{
	text-decoration: none;
	color: black;
}

main #principalArticle figure
{
	width: 100%;
	height: 250px;
}

main #principalArticle img
{
	width: 100%;
	height: 100%;
}

main #principalArticle .titulos
{
	height: auto;
	text-align: justify;
	text-decoration-style: none;
	background: rgba(255,255,255,.9);
}

main #allArticles
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main #allArticles .articles
{
	padding-top: 5px;
	padding-bottom: 5px;
}

main #allArticles .articles a
{
	text-decoration: none;
	color: black;
}

main #allArticles .articles:nth-of-type(1)
{
	padding-top: 0;
}

main #allArticles .articles figure
{
	width: 100%;
	height: 150px;
}

main #allArticles .articles figure img
{
	width: 100%;
	height: 100%;
}

main #allArticles .titulos
{
	height: auto;
	text-align: justify;
	text-decoration-style: none;
	background: rgba(255,255,255,.9);
}

main #allArticles .articles:nth-of-type(7)
{
	padding-bottom: 50px;
}

#buttons
{
	height: auto;
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
}

#buttons a
{
	color: white;
	text-decoration: none;
	padding: 15px 1px;
	border-radius: 5px;
	text-align: center;
	background: rgba(48,51,46,.8);
}

/*#buttons a:nth-of-type(1),
#buttons a:nth-of-type(2)
{
	display: none;
}

#buttons a:nth-of-type(3)
{
	margin: auto;
	padding: 15px 25px;
}*/

footer
{
	width: 100%;
	height: 100px;
	background: rgb(48,51,46);
}

@media screen and (min-width: 600px)
{
	body
	{
		background: orange;
	}

		main #allArticles .articles
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	main #allArticles .articles figure
	{
		height: 250px;
	}


	#buttons a
	{
		padding: 25px 25px;
	}

/*	#buttons a:nth-of-type(1),
	#buttons a:nth-of-type(2)
	{
		display: none;
	}

	#buttons a:nth-of-type(3)
	{
		margin: auto;
		padding: 35px 95px;
	}*/


}

@media screen and (min-width: 767px)
{
	body
	{
		background: yellow;
	}

	#menu #logo figure
	{
		height: 100px;
		width: 150px;
	}

	#menu
	{
		width: 90%;
		max-width: 1700px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

	#menu #card_menu
	{
		display: flex;
		position: absolute;
		top: 0;
		height: 132px;
		flex-direction: row;
		justify-content: flex-end;
		background: none;
	}


	#menu #card_menu #enlaces
	{
		display: flex;
		height: 132px;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#menu #card_menu #enlaces a
	{
		margin-left: 1em;
	}

	#menu #card_menu #enlaces a:hover
	{
		border-bottom: 1px solid white;
	}

	#menu #logo a:nth-of-type(2),
	#menu #logo a:nth-of-type(3)
	{
		display: none;
	}

	main
	{
		width: 60%;
		max-width: 750px;
		margin-left: 15%;
	}

	main #principalArticle
	{
		padding-top: 0;
		padding-bottom: 35px;
	}

	main #principalArticle figure
	{
		height: 400px;
	}

	main #principalArticle .titulos
	{
		font-size: 1.3em;
		text-align: left;
	}

	main #allArticles .articles
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	main #allArticles .articles figure
	{
		height: 250px;
	}

	main #allArticles .titulos
	{
		font-size: 1.3em;
		text-align: left;
	}

	#buttons
	{
		height: auto;
		width: 60%;
		max-width: 750px;
		margin-left: 15%;
		padding-bottom: 50px;
	}

	#buttons a
	{
		padding: 25px 20px;
	}

	#buttons a:hover
	{
		background: rgba(48,51,46,1);
		transition-duration: 1s;
	}

	/*#buttons a:nth-of-type(1),
	#buttons a:nth-of-type(2)
	{
		display: none;
	}

	#buttons a:nth-of-type(3)
	{
		margin: auto;
		padding: 15px 25px;
	}*/

}

@media screen and (min-width: 950px)
{
	body
	{
		background: green;
	}

	#buttons a
	{
		padding: 25px 30px;
	}
}